* {
    margin: 0;
    padding: 0;
}


.certificate-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10% auto;
}

.certificates {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.certificate img {
    width: clamp(300px, 30vw, 300px);
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    filter: drop-shadow(5px 5px 1px #999);
    border: 1px solid #ddd;
}

.certificate img:hover {
    transform: scale(2.05);
    z-index: 10;
}

/* Mobile: vertical layout */
@media (max-width: 768px) {
    .certificates {
        flex-direction: column;
        align-items: center;
    }

    .certificate img:hover {
        transform: scale(1.05);
    }
}


.hidden-shop {
   margin: 20px;
   font-family: 'Titillium Web', sans-serif;
   color: #333;
   font-size: clamp(.5rem, .8vw, 1rem);
}

.hidden-shop button {
    margin: 4px;
    padding: 8px;
    background-color: #222;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(.8rem, 1.2vw, 1rem);
}