@font-face {
  font-family: 'Founder';
  src: url(../fonts/FoundersGroteskCondensed-Bold.ttf);
}


@font-face {
  font-family: 'CardinalR';
  src: url(../fonts/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: 'Cardinali';
  src: url(../fonts/cardinalfruitweb-italic.ttf);
}

@font-face {
  font-family: 'Takota' ;
  src: url(../fonts/Takota-BRa8.ttf);
}

@font-face {
    font-family: "Maximize";
    src: url(../fonts/maximize-bold1.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 40px;
    background-color: #222;
    padding: 15px;
    position: fixed;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
}

#menu-icon {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

.logo {
   
}

.soc_icon {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#icon {
    width: 24px;
    height: 24px;
    fill: white;
    margin: 8px;
}


nav {
    width: 100%;
}

.nav_account {
    display: flex;
    justify-content: left;
    list-style: none;
}

.nav_account1 {
    display: flex;
    justify-content: right;
}
.account-con1 {
    margin: 20px;
    width: clamp(180px, 24%, 240px);
    height: auto;
    border-radius: 28px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(5px 5px 1px #999);
    padding: 5px;
    background-color: #222;
}

.account-con {
    width: clamp(180px, 24%, 240px);
    height: auto;
    border-radius: 28px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(5px 5px 1px #999);
    padding: 5px;
    background-color: #222;
}

.account-logo {
    position: relative; 
    width: clamp(40px, 25%, 50px);
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    overflow: hidden;
}

/* Green active dot */
.account-logo::after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 4px;
    width: 12px;
    height: 12px;
    background-color: rgb(0, 255, 0); /* Green */
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    margin: 2px;
}


.account-logo img {
    width: 80%;
    height: auto; 
    object-fit: cover;
}


.account-name {
    padding: 7px;
    flex: 1;
    min-width: 0; /* Important for ellipsis to work */
}

.account-name h3 {
    font-size: clamp(0.8rem, 1.3vw, 1.1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    color: white;
}

.account-name p {
    font-size: clamp(0.5rem, 1.3vw, 0.9rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    color: white;

}


.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content
{
    width: clamp(300px, 60%, 1000px);
    padding: 20px;
    margin: 0 5% 8% 10%;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    text-align: justify;
}

.content h1 {
    font-size: clamp(3.2rem, 10vw, 20.5rem);
    font-weight: bold;
    color: #222;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    


}

.content h2 {
    font-size: clamp(1.2rem, 5vw, 3rem);
    font-weight: bold;
    color: #222;
}
span {
    font-size: clamp(1rem, 3vw, 2.2rem);
    color: #555;
    line-height: 2.25;
    font-family: "Takota", sans-serif;
    font-weight: 600;
}

.content li {
    list-style: none;
    position: relative;
    padding-left: 2em;
}

.content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.2em;
    width: 1.5em;
    height: 1em;
    background-image: url(../images/asterisks.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}


/* Get in Touch Button */
.btn {
 width: clamp(150px, 20%, 200px);
 padding: 10px;
 height: auto;
 background: #222;
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: clamp(0.8rem, 1.5vw, 1.2rem);
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
 font-family: "Founder", sans-serif;
}

button:hover {
 color: white;
}

button:after {
 content: "";
 background: orangered;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

button:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}


.image-container {
    margin-bottom: 10%;
}







@media (min-width: 300px) and (max-width: 600px) {
    .sidebar {
        width: 22px;
    }

    .content{
        margin: 0 30% 100% 18%;

    }

    .image-container {
        display: none;    

    }
    .image-container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80% 0 10% 0;
    }

    .image-container1 img {
        
        width: 100%;
        height: auto;
    }

    .account-con {
       display: none;
    }

    .account-logo {
        width: 50px;
        height: 50px;
    }

    .account-name h3, .account-name p {
        font-size: clamp(0.8rem, 2vw, 1rem);
        text-align: center;
    }
}


@media (min-width: 600px) and (max-width: 3000px) {
    .sidebar {
        width: 30px;
    }
    .account-con1 {
        display: none;
    }

  

    .account-name h3, .account-name p {
        font-size: clamp(0.8rem, 1.5vw, 1rem);
        text-align: center;
    }

    .image-container1 {
        display: none;
    }
}