body{

    margin: 0;
    padding: 0;
    font-family: 'Titilium', sans-serif;
}


.main {
    width: 70%;
    height: 100dvh;
    display: flex;
    margin: 0 auto;
}

.mainContent {
    margin: 30px auto;
    text-align: center;
}

.mainContent h1 {
    font-family: 'Takota', sans-serif;
    font-size: clamp(2rem, 6vw, 3rem);
    color: #222;
}

.mainContent p {
    font-size: clamp(.8rem, 2vw, 1rem);
    color: #555;
}

.display-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
}


.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    padding: 0;
    border: none;
}

.filter-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter-buttons button:hover,
.filter-buttons button.active {
    background-color: orangered;
    color: white;
}


/* From Uiverse.io by Yaya12085 */ 
.card {

  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 300px;
  background-color: #fff;
  color: #212121;
  border: 1px solid #e0e0e0;
  text-align: center;
  
}

.image {
  height: 8rem;
  width: 100%;
  object-fit: cover;
  background-color: rgb(204, 0, 255);
  background-image: linear-gradient(to right, rgb(255, 174, 0), rgb(204, 0, 255));
}

.content {
  padding: 1rem;
  text-align: center;
}

.text-1 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text-2 {
  margin-top: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.text-2 span:first-child {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 900;
}

.text-2 span:last-child {
  margin-top: 0rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'Titilium', sans-serif;
}

.action {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.card p {
  margin-top: 1rem;
  font-size: 12px;
  line-height: 1rem;
  text-transform: uppercase;
  color: rgba(156, 163, 175, 1);
  text-align: center;
}


@media (max-width: 600px) {

    .display-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        height: 50vh;
    }

    .text-2 {
        margin-top: 3.5rem;
    }
}